# GNU Readline Library
# http://cnswww.cns.cwru.edu/php/chet/readline/rluserman.html
#
# Note: use ^x^r to re-read this file after modification

## Key bindings {{{1

# <up> and <down> {{{2
"\e[A": history-search-backward
"\e[B": history-search-forward

# <Home> and <End> {{{2
"\e[1~": beginning-of-line
"\e[4~": end-of-line

# <Ctrl-Left> and <Ctrl-Right> (same as Alt-b/f) {{{2
"\e[1;5D": backward-word
"\e[1;5C": forward-word

# ^d (instead of the default 'delete char before cursor') {{{2
"\C-d": kill-whole-line
# }}}1

## Macros
$if Bash

# bc                                   :: = {{{1
"\C-x=": "bc <<< 'scale=20; '\C-b"

# find                                 :: / {{{1
"\C-x/": "find . -iname '*\e ' -printf '%M %u %g %P\\n'\C-x\C-x"

# GNU parallel                         :: \ {{{1
"\C-x\\": " | parallel -X \e  {} \C-x\C-x"

# IPs                                  :: 0, 1, 7, 9 {{{1
"\C-x0": "127.0.0.1"
"\C-x1": "10.0.0."
"\C-x7": "172.16.0."
"\C-x9": "192.168.0."

# Ranges                               :: -, . {{{1
"\C-x-": "{1\e ..}\C-b"
"\C-x.": "{1\e ..}\C-b"

# Output in columns                    :: | {{{1
"\C-x|": " | column -t"

# /dev/null                            :: _ {{{1
"\C-x_": "/dev/null"

# awk                                  :: a, A {{{1
"\C-xa": "awk '/\e / {print $}' \e3\C-b"
"\C-xA": "awk '{sum += $1} END {print sum}' "

# Braces                               :: b, B, ] {{{1
"\C-xb": "(())\e2\C-b"
"\C-xB": "{}\C-b"
"\C-x]": "[[]]\e2\C-b"

# Counting row occurrences in a stream :: c {{{1
"\C-xc": " | sort | uniq -c | sort -rn"

# Diff                                 :: d, D {{{1
"\C-xd": "diff -u <() <(\e )\e5\C-b"
"\C-xD": "diff -uq\e  --from-file "

# ed                                   :: e, E {{{1
"\C-xe": "printf '%s\\n' H \e  wq | 'ed' -s "
"\C-xE": "printf '%s\\n' H 0i \e  . wq | 'ed' -s "

# Loops                                :: f, F, u, w {{{1
"\C-xf": "for i in \e ; do  \"$i\"; done\e2\eb\e3\C-b"
"\C-xF": "for ((i = 0; i < \e ; i++)); do  \"$i\"; done\e2\eb\e3\C-b"
"\C-xu": "until \e ; do ; done\eb\e2\C-b"
"\C-xw": "while \e ; do ; done\eb\e2\C-b"

# File renaming (mv)                   :: m, M {{{1
"\C-xm": "find . -maxdepth 1 -iname '*\e ' ! -path . -printf \"mv '%P' '%P'\\n\" | v -c\"Tabularize/'.\\{-}'/l1l0\" -c'se ft=sh' -\C-x\C-x"
"\C-xM": "parallel mv -- {} {.}.\e  ::: *."

# Directory statistics                 :: n, o, @ {{{1
"\C-xn": "echo 'Newest: '; (shopt -s nullglob; unset newest; for file in *\e ; do [[ $file -nt $newest ]] && newest=\"$file\"; done; echo \"$newest\")"

"\C-xo": "echo 'Oldest: '; (shopt -s nullglob; unset oldest; for file in *\e ; do [[ $file -ot $oldest || ! $oldest ]] && oldest=\"$file\"; done; echo \"$oldest\")"

"\C-x@": "(shopt -s nullglob dotglob; shopt -u failglob; inodes=(*\e ); echo There are \"${#inodes[@]}\" items)"

# printf                               :: p {{{1
"\C-xp": "printf '%s\\n' "

# rsync                                :: r, R {{{1
"\C-xr": "rsync -ai\e  -e'ssh -q' "
"\C-xR": "-f'- '\C-b"

# Backticks                            :: ` {{{1
"\C-x`": "$()^b"

# systemd                              :: s, S {{{1
"\C-xs": "systemctl status"
"\C-xS": "systemctl \e start\C-x\C-x"

# tcpdump                              :: t {{{1
"\C-xt": "tcpdump -iany -s0 -nnq "

# Test                                 :: T {{{1
"\C-xT": " && echo ok"

# Array                                :: [ {{{1
"\C-x[": "\"${[@]}\"\e5\C-b"

# Extended globs: @?*+!(item1|item2)   :: * {{{1
"\C-x*": "\e @(|)\C-b\C-b"
# }}}1

$endif

## Variable settings {{{1

# Notifications {{{2
set bell-style none
set echo-control-characters off

# link@, dir/... {{{2
set visible-stats on

# Don't show hidden files (unless .<tab>) {{{2
set match-hidden-files off

# Ignore case + treat - and _ as equivalent {{{2
set completion-ignore-case on
set completion-map-case on

# Display all possible completions right away {{{2
set show-all-if-ambiguous on
set show-all-if-unmodified on

# no (y or n) + no less {{{2
set completion-query-items 200
set page-completions off
# }}}1

$include ~/.inputrc_after

# vim: foldmethod=marker
