# read group1 ([clientgroup1]) in addition to the generic groups:
# --defaults-group-suffix=group1

## generic groups
[client]
# user=
# password=
# # comment out when using mysqldump!
# database=
# port=

safe-updates

# prompt = mysql: \u @ \h.\d >\_
# pager = less -i -M -F -S
# pager = grcat ~/.grcat | less -RSFXin

# ## uat
# [clientuat]
#
# ## production
# # slave
# [clientslave]
# ssl-key=/usr/local/etc/pki/tls/private/key.pem
# ssl-cert=/usr/local/etc/pki/tls/certs/cert.pem
#
# # master
# [clientmaster]
