# read group1 ([clientgroup1]) in addition to the generic group:
# --defaults-group-suffix=group1

## generic group
[client]

# prompt = mysql: \u @ \h.\d >\_
# pager = less -i -M -F -S
# pager = grcat ~/.grcat | less -RSFXin

safe-updates

# user=
# password=
# port=
# database=
#
# ## uat
# [clientuat]
#
# ## production
# # slave
# [clientslave]
# # ssl
# ssl-key=/usr/local/etc/pki/tls/private/key.pem
# ssl-cert=/usr/local/etc/pki/tls/certs/cert.pem
#
# # master
# [clientmaster]
