! Reload with: xrdb -merge ~/.Xresources

xterm*faceName: DejaVu Sans Mono
xterm*faceSize: 11
xterm*background:  #2b2b2b
xterm*foreground:  #bebebe
xterm*cursorColor: #444444
xterm*cursorBlink: true
! Tango theme
xterm*color0:      #000000
xterm*color8:      #555753

xterm*color1:      #cc0000
xterm*color9:      #ef2929

xterm*color2:      #4e9a06
xterm*color10:     #8ae234

xterm*color3:      #c4a000
xterm*color11:     #fce94f

xterm*color4:      #3465a4
xterm*color12:     #729fcf

xterm*color5:      #75507b
xterm*color13:     #ad7fa8

xterm*color6:      #06989a
xterm*color14:     #34e2e2

xterm*color7:      #d3d7cf
xterm*color15:     #eeeeec

! Note: ~/.clusterssh/config needs terminal_colorize=0

! #! /usr/bin/env bash
! #
! # Note: see ~/.dir_colors for an explanation about ansi escape sequences
!
! #             Normal           Bold
! echo $'\e[30m color0  \e[30;1m color8  \e[0m' # Black
! echo $'\e[31m color1  \e[31;1m color9  \e[0m' # Red
! echo $'\e[32m color2  \e[32;1m color10 \e[0m' # Green
! echo $'\e[33m color3  \e[33;1m color11 \e[0m' # Yellow
! echo $'\e[34m color4  \e[34;1m color12 \e[0m' # Blue
! echo $'\e[35m color5  \e[35;1m color13 \e[0m' # Magenta
! echo $'\e[36m color6  \e[36;1m color14 \e[0m' # Cyan
! echo $'\e[37m color7  \e[37;1m color15 \e[0m' # White

xterm*loginshell:         true
xterm*VT100.geometry:     80x25
! double-click to select whole URLs :D
xterm*charClass:          33:48,36-47:48,58-59:48,61:48,63-64:48,95:48,126:48
xterm*dynamicColors:      true
xterm*utf8:               2
xterm*eightBitInput:      true
xterm*saveLines:          2048
xterm*scrollKey:          true
xterm*scrollTtyOutput:    false
xterm*scrollBar:          true
xterm*rightScrollBar:     true
xterm*jumpScroll:         true
xterm*multiScroll:        true
xterm*toolBar:            false
