! Reload with: xrdb -merge ~/.Xresources

!! Fonts
xterm*faceName: DejaVu Sans Mono
xterm*faceSize: 12

xterm*underLine: true

xterm*background: rgb:26/26/26
xterm*foreground: rgb:be/be/be

!! Cursor
xterm*cursorColor: rgb:66/66/66
xterm*cursorBlink: true

!! Tango color palette (normal + light colors)
! black
xterm*color0:  rgb:00/00/00
xterm*color8:  rgb:55/57/53

! red
xterm*color1:  rgb:cc/00/00
xterm*color9:  rgb:ef/29/29

! green
xterm*color2:  rgb:4e/9a/06
xterm*color10: rgb:8a/e2/34

! yellow / brown
xterm*color3:  rgb:c4/a0/00
xterm*color11: rgb:fc/e9/4f

! blue
xterm*color4:  rgb:34/65/a4
xterm*color12: rgb:72/9f/cf

! magenta
xterm*color5:  rgb:75/50/7b
xterm*color13: rgb:ad/7f/a8

! cyan
xterm*color6:  rgb:06/98/9a
xterm*color14: rgb:34/e2/e2

! white / light grey
xterm*color7:  rgb:d3/d7/cf
xterm*color15: rgb:ee/ee/ec

xterm*dynamicColors: true

!! 8-bit Characters
xterm*eightBitControl: false
xterm*eightBitInput:   false
xterm*eightBitOutput:  true

xterm*utf8: 1

!! Scrolling and history
xterm*scrollKey:       true
xterm*scrollTtyOutput: false
xterm*scrollBar:       true
xterm*rightScrollBar:  true
xterm*jumpScroll:      true
xterm*multiScroll:     true

xterm*saveLines: 4096

!! Other settings
xterm*toolBar: false

xterm*loginshell: true

xterm*VT100.geometry: 80x25

! double-click to select whole URLs :D
xterm*charClass: 33:48,36-47:48,58-59:48,61:48,63-64:48,95:48,126:48

! vim: fdm=expr fde=getline(v\:lnum)=~'^\\s*!!'?'>'.(len(matchstr(getline(v\:lnum),'!!!*'))-1)\:'='
