# If the message matches no rule it goes to the inbox folder
DEFAULT="$HOME/mail/yahoo/inbox"

# TODO: separate
logfile "$HOME/mail/maildrop.log"

xfilter "$HOME/bin/mutt_notif.py"

# Filters
if (/^(To|Cc|Bcc):.*kurkale6ka@.*mail.com/)
{
   to "$HOME/mail/google/inbox"
}

if (/^(To|Cc|Bcc).*@company/)
{
   to "$HOME/mail/work/inbox"
}

if (/^(To|Cc|Bcc).*mitkofr@yahoo.fr/)
{
   to "$HOME/mail/yahoo/inbox"
}

if (/vim[-_]dev/)
{
   to "$HOME/mail/google/inbox/vim_dev"
}

if (/vim[-_]use/)
{
   to "$HOME/mail/google/inbox/vim_use"
}

# to "$DEFAULT"
