[options]
# read new mails only
read_all = false
delete = false
message_log = ~/mail/work/getmail.log
# message_log_verbose = true

[retriever]
type = SimpleIMAPSSLRetriever
server = imap.gmail.com
port = 993
username = $USERNAME
password = ****************

[destination]
type = MDA_external
path = /usr/bin/maildrop
